<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title th:text="'Queue ' + ${queue.name}"></title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
    <div>
        <h1 th:text="${isOwner}
        ?'Hello ' + ${user.fullName()} + ' to your queue '+ ${queue.name}
        :'This is Queue '+ ${queue.name} "></h1>
    </div>
    <div th:if="${isOwner}">
        <button id="statusButton" class="btn btn-primary"
                th:attr="onclick=|activeBtn(`@{'/queue/active/'+${queue.id}}`)|"
                th:text="${queue.active}?'Close':'Open'"></button>
    </div>
    <div th:unless="${isOwner}">
        <button class="btn btn-info" th:attr="onclick=|urlAPI(`@{'/queue/add/'+${queue.id}}`)|">Stand In</button>
        <button class="btn btn-info" th:attr="onclick=|urlAPI(`@{'/queue/delete/'+${queue.id}}`)|">Stand Out
        </button>
    </div>
    <div>
        <button class="btn btn-warning" onclick="window.location = `/queue/list`">Back</button>
    </div>
    <div>
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
            <tr>
                <th>Full Name</th>
                <th th:if="${isOwner}">Delete userEntity</th>
            </tr>
            </thead>
            <tbody id="users">
            <tr th:each="userEntity: ${userList}">
                <td th:text="${userEntity.fullName()}">User Name</td>
                <td th:if="${isOwner}">
                    <button type="button" class="btn btn-danger"
                            th:attr="onclick=|urlAPI(`@{'/queue/delete/'+${queue.id}+'/' + ${userEntity.id}}`)|">
                        Delete user
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>